body {
    background-color: #DEF0FF;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
}

#log {
    width: 25em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
    padding-top: 0.25em;
    background-color: white;
    border-radius: 2em;
    text-align: center;
    margin: 1em auto;                                 /* Center horizontally with auto margins */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);      /* Shadow effect */
}

input {
    border: 0em;
    border-radius: 0.5em;
    background-color: #EEEEEE;
    height: 2em;
}

#clear {
    margin-top: 1em;
    color: black;
    font-weight: bold;
    background-color: white;
    border: 0em;
    border-radius: 0.5em;
    padding: 1em;
    width: 10em;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);        /* Shadow effect */
    transition: box-shadow 0.3s;                        /* Smooth transition for hover effect */
}

#return {
    margin-top: 1em;
    color: black;
    font-weight: bold;
    background-color: white;
    border: 0em;
    border-radius: 0.5em;
    padding: 1em;
    width: 6em;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);        /* Shadow effect */
    transition: box-shadow 0.3s;                        /* Smooth transition for hover effect */
}

#deactivate {
    margin-top: 1em;
    color: white;
    font-weight: bold;
    background-color: #FF6068;
    border: 0em;
    border-radius: 0.5em;
    padding: 1em;
    width: 15em;
    height: 6em;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);        /* Shadow effect */
    transition: box-shadow 0.3s;                        /* Smooth transition for hover effect */
}

#return:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);        /* Darker shadow on hover */
}

#deactivate:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);        /* Darker shadow on hover */
}

button:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);        /* Darker shadow on hover */
}

.center-button-container {
    text-align: center;
    margin-top: 2em;
}